git+https://github.com/Joelkb/cinemagoer
pyrogram>=2.0.30
imdbpy==2022.7.9
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
cinemagoer
requests
bs4
heroku3
pynewtonmath
pytz
aiohttp
